@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans_18pt-Thin.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

body{
  font-family: 'DMSans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.MainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70%, 1fr));
  gap: 5px;
}

@media (min-width: 552px) {
  .MainContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.ArtistBox{
  display: flex;
  justify-content: top;
  flex-direction: column;
  border-radius: 6.5px;
  background-color: rgb(27, 27, 27);
  margin: 3%;
  padding: 0;
}

.ArtistBoxHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ArtistBoxName {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 6.5px;
  background-color: rgb(46, 46, 46);
  padding-left: 1%;
  padding-right: 1%;
  font-weight: bold;
  font-size: medium;
}

.ArtistBoxPopularity {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 6.5px;
  background-color: rgb(46, 46, 46);
  padding-left: 1%;
  padding-right: 1%;
  font-weight: lighter;
  font-size: medium;
}

@media (max-width: 552px) {
  .ArtistBoxName, .ArtistBoxPopularity {
    font-size: large;
  }
}

.ArtistBoxImg{
  border-radius: 10px;
  margin: 5%;
  width: 90%;
  max-height: 200px;
  object-fit: cover;
}

.SearchBar{
  display: flex;
  justify-content: center;
  margin: 5%;
}

.SearchBar button{
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'DMSans', sans-serif;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  margin-left: 2.5px;
  font-size: large;
  padding: 5px;
}

.SearchBar button:hover{
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 7px 1px rgba(134, 134, 134, 0.7);
 
}

.SearchBar input{
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'DMSans', sans-serif;
  font-weight: bold;
  border-style: none;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
  margin-right: 2.5px;
  font-size: large;
  padding-left: 7px;
  padding-right: 7px;
  
}

.SearchBar input:hover{
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 7px 1px rgba(134, 134, 134, 0.7);
}

.ArtistBoxAlbums{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5%;
}

.ArtistBoxAlbums img{
  max-width: 50px;
  position: relative;
}

.ArtistBoxAlbumName{
  font-weight: bold;
  font-size: xx-small;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  overflow: hidden;
  max-width: 100px;  
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
  margin-bottom: 10px;
}

.MessageText{
  color: white;
}

.message{
  list-style: none;
  margin: auto;
  padding: 7px;
  padding: none;
  border-radius: 7px;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(61, 106, 231);
}

.MessageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 100vh; /* Set the maximum height to the height of the viewport */
  overflow-y: auto; /* Enable vertical scrolling when the content exceeds the maximum height */
}
.user-message {
  list-style: none;
  margin: auto;
  padding: 7px;
  padding: none;
  border-radius: 7px;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(206, 206, 206);
  color: rgb(70, 70, 70);
  font-weight: bolder;
}

.messageSender {
  position: fixed; /* Make the position relative to the viewport */
  bottom: 0; /* Position it at the bottom of the viewport */
  left: 0; /* Position it at the left of the viewport */
  right: 0; /* Position it at the right of the viewport */
  width: calc(100% - 50px); /* Subtract left and right margins from width */
  max-width: 900px; /* Set a maximum width */
  margin: 0 auto; /* Center the element */
  background: #fff; /* Give it a background color to overlay the content below it */
  background-color: rgb(70, 70, 70);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); /* Add a shadow for a lifting effect */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between the form and the button */
  box-sizing: border-box; /* Include padding and border in total width and height */
  border-radius: 10px;
  padding: 10px; /* Add some padding */
  margin-bottom: 10px;
}

.messageSender form {
  display: flex; /* Use flexbox for layout */
  flex-grow: 1; /* Allow the form to take up the remaining space */
  margin-right: 10px; /* Add some margin to the right */
 
}

.messageSender input {
  flex-grow: 1; /* Allow the input to take up the remaining space in the form */
  margin-right: 10px; /* Add some margin to the right */
  border-radius: 10px;
  border: none;
  background-color: rgb(107, 107, 107);
  color: white;
  font-size: 16px; /* Set font-size to at least 16px */
  font-weight: 100;
}

.messageSender input::placeholder {
  color: white;
  font-weight: 100;
}

.messageSender button {
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'DMSans', sans-serif;
  font-weight: thin;
  border-style: none;
  border-radius: 10px;
  margin-left: 2.5px;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ArtistChatBox{
  display: flex;
  justify-content: space-between;
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
  max-width: 30%;
  margin: auto;
  font-size: small;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.ArtistChatBox button{
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'DMSans', sans-serif;
  font-weight: thin;
  border-style: none;
  border-radius: 10px;
  margin-left: 2.5px;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-right: 5px;
}

.ArtistChatBox h2{
  margin-left: 5px;
}