@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans_18pt-Thin.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

body{
  font-family: 'DMSans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.MainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70%, 1fr));
  gap: 20px;
}

@media (min-width: 552px) {
  .MainContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.ArtistBox{
  display: flex;
  justify-content: top;
  flex-direction: column;
  border-radius: 6.5px;
  background-color: rgb(27, 27, 27);
  margin: 3%;
  padding: 0;
}

.ArtistBoxHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ArtistBoxName {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 6.5px;
  background-color: rgb(46, 46, 46);
  padding-left: 1%;
  padding-right: 1%;
  font-weight: bold;
}

.ArtistBoxPopularity {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 6.5px;
  background-color: rgb(46, 46, 46);
  padding-left: 1%;
  padding-right: 1%;
  font-weight: lighter;
}

.ArtistBoxImg{
  border-radius: 10px;
  margin: 5%;
  width: 90%;
  max-height: 200px;
  object-fit: cover;
}

.SearchBar{
  display: flex;
  justify-content: center;
  margin: 5%;
}

.SearchBar button{
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'DMSans', sans-serif;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  margin-left: 2.5px;
  font-size: large;
  padding: 5px;
}

.SearchBar button:hover{
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 7px 1px rgba(134, 134, 134, 0.7);
 
}

.SearchBar input{
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'DMSans', sans-serif;
  font-weight: bold;
  border-style: none;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
  margin-right: 2.5px;
  font-size: large;
  padding-left: 7px;
  padding-right: 7px;
  
}

.SearchBar input:hover{
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 7px 1px rgba(134, 134, 134, 0.7);
}

.ArtistBoxAlbums{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5%;
}

.ArtistBoxAlbums img{
  max-width: 50px;
  position: relative;
}

.ArtistBoxAlbumName{
  font-weight: bold;
  font-size: xx-small;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  overflow: hidden;
  max-width: 100px;  
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
  margin-bottom: 10px;
}